<launch>

	<!-- NOTE -->
	<!-- Two nodes canNOT access the same GPIO line -->
	<!-- The first node to open a line blocks other processes from accessing it -->

	<!-- START A GROUP WITH A NAMESPACE -->
	<group ns="asc">

		<!-- LAUNCH A "Encoder Read Multi Threaded" NODE -->
		<node
			pkg    = "asclinic_pkg"
			name   = "encoder_read_multi_threaded"
			output = "screen"
			type   = "encoder_read_multi_threaded"
			>
			<param
				name   = "encoder_read_verbosity"
				value  = "1"
			/>
			<param
				name   = "gpio_chip_number_for_encoder_lines"
				value  = "1"
			/>
			<param
				name   = "should_monitor_left_side_encoder_channel_a"
				value  = "true"
			/>
			<param
				name   = "should_monitor_left_side_encoder_channel_b"
				value  = "false"
			/>
			<param
				name   = "should_monitor_right_side_encoder_channel_a"
				value  = "true"
			/>
			<param
				name   = "should_monitor_right_side_encoder_channel_b"
				value  = "false"
			/>
			<param
				name   = "line_number_for_left_side_encoder_channel_a"
				value  = "105"
			/>
			<param
				name   = "line_number_for_left_side_encoder_channel_b"
				value  = "106"
			/>
			<param
				name   = "line_number_for_right_side_encoder_channel_a"
				value  = "84"
			/>
			<param
				name   = "line_number_for_right_side_encoder_channel_b"
				value  = "130"
			/>
			<!-- NOTE: options for event monitoring are: "rising", "falling", "both" -->
			<param
				name   = "encoder_events_to_monitor"
				value  = "rising"
			/>
			<param
				name   = "delta_t_for_publishing_encoder_counts"
				value  = "0.1"
			/>
		</node>

	</group>

</launch>
