<launch>

	<!-- START A GROUP WITH A NAMESPACE -->
	<group ns="asc">

		<!-- LAUNCH A "I2C for Servos" NODE -->
		<node
			pkg    = "asclinic_pkg"
			name   = "i2c_for_servos"
			output = "screen"
			type   = "i2c_for_servos"
			>
			<param
				name   = "servo_driver_verbosity"
				value  = "1"
			/>
			<param
				name   = "servo_driver_pwm_frequency_in_hertz"
				value  = "50"
			/>
			<param
				name   = "servo_driver_min_pulse_width_in_microseconds"
				value  = "500"
			/>
			<param
				name   = "servo_driver_max_pulse_width_in_microseconds"
				value  = "2500"
			/>
		</node>

	</group>

</launch>
