<launch>

	<!-- START A GROUP WITH A NAMESPACE -->
	<group ns="asc">

		<!-- LAUNCH A "I2C for Motors" NODE -->
		<node
			pkg    = "asclinic_pkg"
			name   = "i2c_for_motors"
			output = "screen"
			type   = "i2c_for_motors"
			>
			<param
				name   = "motor_driver_verbosity"
				value  = "1"
			/>
			<param
				name   = "motor_driver_current_limit_in_milliamps"
				value  = "5000"
			/>
			<param
				name   = "motor_driver_max_duty_cycle_limit_in_percent"
				value  = "100.0"
			/>
			<param
				name   = "motor_driver_max_accel_limit_in_percent_per_millisecond"
				value  = "0.04"
			/>
			<param
				name   = "motor_driver_max_decel_limit_in_percent_per_millisecond"
				value  = "0.16"
			/>
			<param
				name   = "motor_driver_left_side_multiplier"
				value  = "1"
			/>
			<param
				name   = "motor_driver_right_side_multiplier"
				value  = "1"
			/>
		</node>

	</group>

</launch>
